*{
	padding:0px;
	margin:0px;
}

.goodslist{
	
}
.goodslist ul{
	width: 1172px;
	margin: 0 auto;
}

.goodslist li{
	float: left;
	width: 196px;
    height: 312px;
    border: 1px solid #ccc;
    list-style: none;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.goodslist li h4{
	height: 64px;
	overflow: hidden;
}
.goodslist li p{
	height: 36px;
	line-height: 36px;
}
